name: Standard Order

on: push

jobs:
    build-and-cook:
        name: Biryani Chef
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
            - name: Setup Node
              uses: actions/setup-node@v4
            - name: Install Dependencies
              run: npm install
            - name: Check lint
              run: npm run lint
            - name: Build
              run: npm run build
            - name: Run test
              run: npm run test
            - name: Run Deploy
              run: npm run deploy
            
